<% include templates/header.ejs %>
<% include templates/logo.ejs %>

<div class="separator"></div>

<h5>Dependencies</h5>
<p>
    Mozilla Firefox Version 60.0.1<br>
    FIDO U2F Security Token<br>
</p>

<div class="separator"></div>

<!--
<h5>Soft Token</h5>
<p>Instead of a FIDO U2F Security Token the build-in firefox softtoken can be used. Therefore do the following:</p>
<ol>
    <li>open <code>about:config</code> in your browser</li>
    <li>enable <code>security.webauth.webauthn</code></li>
    <li>enable <code>security.webauth.webauthn_enable_softtoken</code></li>
</ol>
-->

<div class="separator"></div>

<h5>Comment</h5>
<p style="font-style: italic;">"This website has been implemented as part of my bachelor thesis in order to analyse the W3C <a href="https://www.w3.org/TR/webauthn/" target="_blank">WebAuthentication</a> Draft.</p>
<p style="font-style: italic;">For more information see my bachelor thesis"</p>

<div class="separator"></div>

<h5>Author</h5>
<p>Miles Stötzner<br><a href="mailto:miles@stoetzner.de">miles@stoetzner.de</a><br>University of Stuttgart</p>

<% include templates/footer.ejs %>