<div class="separator"></div>

<a class="btn btn-primary btn-block" href="/publication.pdf" target="_blank">Publication</a>
<a class="btn btn-primary btn-block" href="/help">Help</a>

</div>
</div>
</div>
</div>
</body>
</html>